/* Container */

.container {
    display: flex;
    /* min-height: 100vh; */
   /* flex-direction: column; */
}


/* Box colors */

.container.box1,
.box5 {
    background-color: #1F2937;
    border: 1px red;
    height: 100px;
    flex: 1;
}

.container.box2,
.box4 {
    background-color: #f2e9ea;
    border: 1px red;
    height: 100px;
    flex: 1;
}

.container.box3 {
    background-color: #e5e7eb;
    border: 1px red;
    height: 100px;
    flex: 1;
}

